@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$mainColor: #690e0e;
$lightGrey: #dbd7d7;
$darkGrey: #b6b3b3;
$darkerGrey: #525151;
$green: #4d8c2b;
body {
  margin: 0;
  font-family: 'Roboto Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: $mainColor;
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    color: white;
    font-size: 1.6em;
    margin-left: 5vw;
  }
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;

  input {
    width: 50vw;
    height: 4vh;
    border: 1px solid $lightGrey;
  }
}

#main {
  width: 70vw;
  margin-top: 10vh;
  margin-left: 15vw;

  #table_info {
    border: 1px solid $darkGrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;

    h1 {
      margin-left: 2vw;
    }

    .fields {
      display: flex;

      p {
        padding: 5px;
        margin-right: 10px;
      }
    }

    &:hover {
      border: 1px solid $darkerGrey;
      cursor: pointer;
    }
  }
}

.table_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;

  .table-action {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    align-items: center;

    .button-wrapper {
      display: flex;
      align-items: center;

      .editBtn,
      .sortBtn {
        border: 1px solid $lightGrey;
        color: $darkerGrey;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: $lightGrey;
        margin-left: 2vw;

        img {
          height: 4vh;
        }

        &:hover {
          border: 1px solid $darkerGrey;
          cursor: pointer;
        }
      }

      .sortBtn {
        padding: 6px;
      }
      .sortBtnFirst {
        border: 1px solid $lightGrey;
        color: $darkerGrey;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: $lightGrey;
        margin-left: 2vw;

        p {
          text-align: center;
          font-size: 12px;
        }

        &:hover {
          border: 1px solid $darkerGrey;
          cursor: pointer;
        }
      }
    }
  }

  #table {
    width: 60vw;

    .table-header {
      display: flex;
      border: 1px solid $darkerGrey;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px 0;

      .table-header-class {
        width: 25%;
        text-align: center;

        h3 {
          margin: 0;
          font-size: 1.3em;

          &:hover {
            cursor: pointer;
          }
        }
        p {
          margin: 0;
        }
      }
    }

    .table-rows {
      .table-row {
        width: 60vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid $darkerGrey;
        height: 7vh;
        margin-top: 2px;

        input {
          text-align: center;
          border: 1px solid $lightGrey;
          font-family: 'Roboto Condensed';
          font-size: 1.1em;

          &:first-child {
          }
        }
        h4 {
          width: 25%;
          font-size: 1.1em;
          text-align: center;
        }

        button {
          margin-left: 0px;
        }
      }

      .table-row-static {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid $darkerGrey;
        border-bottom: none;
        margin-top: 2px;

        &:last-child {
          border-bottom: 1px solid $darkerGrey;
        }

        p {
          text-align: center;
        }

        h4 {
          width: 25%;
          font-size: 1.1em;

          text-align: center;
        }
      }
    }
  }
}

.close-button {
  border: 1px solid $darkerGrey;
  height: 7vh;
  display: flex;
  align-self: center;
  align-items: center;
  margin: 2px -25px 0 5px;

  &:hover {
    background-color: $mainColor;
    cursor: pointer;
    color: white;
  }
}

.confirmBtn {
  border: 1px solid $lightGrey;
  color: $darkerGrey;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: $lightGrey;
  margin-left: 2vw;

  &:hover {
    background-color: $green;
    cursor: pointer;
    color: white;
  }
}

.discardBtn {
  border: 1px solid $lightGrey;
  color: $darkerGrey;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: $lightGrey;
  margin-left: 2vw;

  &:hover {
    background-color: $mainColor;
    cursor: pointer;
    color: white;
  }
}

.addBtn {
  border: 1px solid $lightGrey;
  color: $darkerGrey;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: $lightGrey;
  margin-left: 2vw;

  &:hover {
    background-color: $darkerGrey;
    cursor: pointer;
    color: white;
  }
}
