@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #690e0e;
  height: 8vh;
  margin-top: 0;
  border: 1px solid #690e0e;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    color: white;
    font-size: 1.6em;
    margin-left: 5vw;
  }
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;

  input {
    width: 50vw;
    height: 4vh;
    border: 1px solid #dbd7d7;
  }
}

#main {
  width: 70vw;
  margin-top: 10vh;
  margin-left: 15vw;
}

#table_info {
  border: 1px solid #b6b3b3;
  display: flex;

  justify-content: space-between;
  margin-top: 5vh;

  h2 {
    margin-left: 15px;
  }

  .fields {
    display: flex;

    p {
      padding: 5px;
      margin-left: 15px;
    }
  }

  &:hover {
    border: 1px solid #525151;
    cursor: pointer;
  }
}
